*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: 'Comic Neue', cursive;
  margin-left: 1%;
  margin-right: 1%;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border: solid 3px black;
  margin-top: 1rem;
  padding: 1rem 0;
  font-family: 'Comic Neue', cursive;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-family: 'Comic Neue', cursive;
  font-weight: 700;
}

h2 {
  font-size: 40px;
  font-family: 'Comic Neue', cursive;
  font-weight: 700;
}

.add_new {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add_new form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.add_new form div {
  display: flex;
  flex-direction: column;
}

.bookList {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0;
  padding: 10px;
}

.removeBtn {
  border-right: 5px solid black;
  border-bottom: 5px solid black;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-radius: 2px;
}

.btn {
  border-right: 5px solid black;
  border-bottom: 5px solid black;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-radius: 2px;
  width: 30%;
  display: flex;
  margin-left: 143px;
  justify-content: center;
}

input {
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  border-top: 4px solid black;
  border-left: 4px solid black;
  border-radius: 2px;
}

.line {
  background-color: black;
  padding: 1px;
  width: 15%;
  margin-top: 40px;
  margin-bottom: 40px;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text p {
  margin: 0;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu {
  display: flex;
  list-style: none;
  gap: 50px;
}

.hide {
  display: none;
}

.lineBook {
  height: 50px;
  text-align: center;
  align-items: center;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.lineBook:nth-child(odd) {
  background-color: rgb(204, 202, 202);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  border: 3px solid black;
  padding: 5px 20px;
}

.menub {
  border-left: 1px solid black;
  padding-left: 30px;
  color: black;
  text-decoration: none;
}

.menuc {
  border-left: 1px solid black;
  padding-left: 30px;
  color: black;
  text-decoration: none;
}

.menua {
  text-decoration: none;
  color: black;
}

.menua:hover {
  color: blue;
}

.menub:hover {
  color: blue;
}

.menuc:hover {
  color: blue;
}

.date {
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: right;
  padding-right: 20px;
  font-family: 'Comic Neue', cursive;
  font-size: 15px;
}

.copyright-div {
  width: 90%;
}

.copyright {
  border: 3px solid black;
  padding: 5px;
}
